.card {
  margin: 10px !important;
}

.pb-cmnt-container {
  font-family: Lato;
  margin-top: 10px;
}

.light-gray-text{
  color:#858585 !important;
}



.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #f2f2f2;
}
.container {
  margin-top: 20px !important;
}
.contain {
  margin-top: 20px !important;
  padding: 30px;
  padding-top: 10px;
}
/* Tabs panel */
.nav-tabs {
  border: none;
  margin: 0px;
}
.nav-tabs > li > a {
  text-transform: uppercase;
  color: rgba(243, 86, 93, 0.4) !important;
  background: none;
}
.nav-tabs > li:hover {
  background: 2px solid rgba(243, 86, 93) !important;
}
.nav-tabs > li:hover > a {
  color: rgba(243, 86, 93) !important;
}

.nav-tabs .nav-item .nav-link {
  border: none;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid rgba(243, 86, 93, 0.4) !important;
}

.nav-tabs .nav-item > a {
  border: none;
}
