{{ define "admin.eveeg.new.layout" }}
{{ template "aheader" . }}
{{ template "admin.eveeg.new.content" . }}
{{ template "afooter" . }}
{{ end }}

{{ define "admin.eveeg.new.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Add New Menu Events</h2>
  </div>
  <div class="container">
    <form method="POST" action="/admin/events/new" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" id="_csrf" value="{{ .CSRF }}" />
      <div class="form-group row">
        <label for="evename" class="col-sm-2 col-form-label">Event Name</label>
        {{with .VErrors.Get "evename"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <input type="text" class="form-control" name="evename" id="evename" value='{{ .Values.Get "evename" }}'
            placeholder="Event Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="evedesc" class="col-sm-2 col-form-label">Description</label>
        {{with .VErrors.Get "evedesc"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <textarea class="form-control" name="evedesc" id="evedesc" rows="3">{{ .Values.Get "evedesc" }}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="eveloc" class="col-sm-2 col-form-label">Location</label>
        {{with .VErrors.Get "eveloc"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <textarea class="form-control" name="eveloc" id="eveloc" rows="3">{{ .Values.Get "eveloc" }}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="evetime" class="col-sm-2 col-form-label">Time</label>
        {{with .VErrors.Get "evetime"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <textarea class="form-control" name="evetime" id="evetime" rows="3">{{ .Values.Get "evetime" }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="eveimg" class="col-sm-2 col-form-label">Upload Image</label>
        {{with .VErrors.Get "eveimg"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <input type="file" class="form-control-file" name="eveimg" id="eveimg">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary float-right">Add Event</button>
        </div>
      </div>
    </form>
  </div>
</main>
{{ end }}