{{define "adminNewSchedule.content"}}
<main class="col">
  <h4>Simple Sidebar</h4>
 <div id="adminNewSchedule">
{{$temp:= .HallID}}




  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
        
          <div class="md-form form-sm mb-1 d-flex justify-content-center">

            <form class="form-inline my-2 my-lg-0" action="/adminCinemas/adminSchedule/{{$temp}}/new" method="get">
              <input
              class="form-control form-control-sm mr-2"
                type="search"
                name="movie"
                id="MovieName"
                placeholder="Movie"
                aria-label="Movie"
              />
              <input class="btn" value="search" type="submit">
            
            </form>


          </div>
         



          {{if .M}}
          
          {{with .M}}
           {{with .MovieList}}
          {{range .}}
          <a href="/adminCinemas/adminSchedule/{{$temp}}/new/?moviename={{.Title}}&id={{.Id}}">{{.Title}}</a> <br>
          {{end}}
          {{end}} 

          {{end}} 
          {{end}} 


<form action="/adminCinemas/adminSchedule/{{$temp}}/new" method="post">     
          <input value="{{.MovieN}}"  name="chosen" type="text" id="chosen" class="form-control form-control-sm" disabled>
          <input value="{{.MovieID}}" style="visibility: hidden;" name="mid" type="text" id="mid" class="form-control form-control-sm" >


          <div style="margin:10px;float:left;">

            <input id="timepkr" name="time" style="width:100px;float:left;" class="form-control" placeholder="HH:MM" />
            <button class="btn btn-primary" onclick="showpickers('timepkr',24)" style="width:40px;float:left;"><i class="fa fa-clock-o"></i>
        
          </div>
        <div class="timepicker"></div> 





 













        


        <select id="day" name="day" class="browser-default mt-5 custom-select">
          <option selected value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednsday">Wednsday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>

        </select>


   
<div class="form-check">
<input type="radio" value="3D" class="form-check-input" id="for3d" name="3or2d">
<label class="form-check-label"  for="for3D">3D</label>
</div>


<div class="form-check">
<input type="radio" value="2D" class="form-check-input" id="for2D" name="3or2d" checked>
<label class="form-check-label" for="for2D">2D</label>
</div>        

          <div class="text-center form-sm mt-2">
            <input type="submit" class="btn btn-info" value="Add schedule">
          </div>

        </form>






        </div>
      </div>
    </div>
  </div>




  
 </div> 
</main>
{{end}}