{{define "adminCinemaList.content" }}

<body id="admin-cinemas">
  <main class="col">
    <h4>Cinema List</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Schedule</li>
      </ol>
    </nav>
    <div
      class="accordion m-5 md-accordion"
      id="accordionEx1"
      role="tablist"
      aria-multiselectable="true"
    >

    <form method="post" action="/admin/cinemas" class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        name="cinemaName"
        placeholder="Cinema Name"
        aria-label="Cinema Name"
      />
      <input class="btn btn-primary" value="Add New" type="submit"/>
      
    </form>





    {{range .}}


      <div class="card">
        <div class="card-header" role="tab" id="headingTwo1">
          <a
            class="collapsed"
            data-toggle="collapse"
            data-parent="#accordionEx1"
            href="#collapseTwo{{.ID}}"
            aria-expanded="false"
            aria-controls="collapseTwo1"
          >
            <h5 class="mb-0">
              {{.CinemaName}}
              
              <i class="fas fa-angle-down rotate-icon"></i>
            </h5>
            <a class="grey-text form-inline darken-3" href="/admin/cinemas/halls/edit/{{.ID}}"><i class="fas fa-edit grey-text darken-3"></i>Edit</a>
           
         
        </div>

        <div
          id="collapseTwo{{.ID}}"
          class="collapse"
          role="tabpanel"
          aria-labelledby="headingTwo1"
          data-parent="#accordionEx1"
        >
          <div class="card-body">
            {{with .Halls}}
            {{range .}}
            <a
              href="/admin/cinemas/schedule/{{.ID}}"
              class="btn colorless btn-primary btn-lg active btn-block"
              role="button"
              aria-pressed="true"
              >{{.HallName}}   </a
            >
            {{end}}
            {{end}}
         
          
          </div>
        </div>
      </div>
      {{end}}

  
     
    </div>
  </main>

  {{end}}
</body>
