{{define "adminNewEvent.layout"}}
{{template "admin_header"}}
{{template "adminNewEvent.content" .}}
{{template "admin_footer"}}
{{end}}


{{define "adminNewEvent.content"}}
<div class="col" style="
  padding:0px;
  min-height: 730px;
  margin:0px;">
  <h4></h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Event</a></li>
      <li class="breadcrumb-item active" aria-current="page">New</li>
    </ol>
  </nav>
  <div class="card mb-2">
    <div class="container">
      <div class="card-body">
        <form id="myForm2" method="POST"  action="/admin/cinemas/events/new/" enctype="multipart/form-data">
          <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
          <div class="md-form mb-5">
            <i class="fas fa-calendar-alt prefix grey-text"></i>
            <input type="text" name="name" id="orangeForm-capacity" class="form-control ">
            <label data-error="wrong" data-success="right" for="orangeForm-capacity"
              value='{{ .Values.Get "name" }}'>Event Name</label>
          </div>
          {{with .VErrors.Get "name" }}
      <label class="text-danger">{{ . }}</label>
      {{end}}
          <div class="md-form">
            <i class="fas fa-pencil-alt prefix grey-text"></i>
            <textarea name="description" id="orangeForm-description" class="md-textarea form-control" rows="3"
              value='{{ .Values.Get "description" }}'></textarea>
            <label for="orangeForm-description">Description</label>
          </div>

          {{with .VErrors.Get "description" }}
    <label class="text-danger">{{ . }}</label>
    {{end}}
          <div class="md-form mb-5">
           
           <i class="fas fa-location-arrow prefix grey-text"></i> <input type="text" name="location" id="orangeForm-location" class="form-control "
              value='{{ .Values.Get "location" }}'>
            <label data-error="wrong" data-success="right" for="orangeForm-location">Location</label>

          </div>
          {{with .VErrors.Get "location" }}
    <label class="text-danger">{{ . }}</label>
    {{end}}
          <div class="col-sm-6">
            <div class="form-group">
            
           
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
     

                <input type="text" name="datetime"  value='{{ .Values.Get "datetime" }}' class="form-control datetimepicker-input" data-target="#datetimepicker1"   />
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>

          {{with .VErrors.Get "datetime" }}
        
    <label class="text-danger">{{ . }}</label>
    {{end}}
          <div class="file-field">
            <div class="z-depth-1-half mb-4">
              <img src="/assets/images/lunch.png" id="img" class="img-fluid" alt="example placeholder">
            </div>
            <div class="d-flex justify-content-center">
              <div class="btn btn-mdb-color btn-rounded float-left">
                <input type="file" name="file" class="form-control-file" id="imgfile">
              </div>
            </div>
          </div>

          {{with .VErrors.Get "file" }}
    <label class="text-danger">{{ . }}</label>
    {{end}}
          <div class="d-flex justify-content-center">
            <input type="submit" name="add" class="btn  grey darken-3" value="Add">
          </div>
        </form>


      </div>
    </div>
  </div>
  </main>
  {{end}}