{{define "EachMovie.content"}}
<body>
   
    <div class="embed-responsive embed-responsive-16by9 " style="height:600px">
        <iframe src="https://www.youtube.com/embed/{{.Trailer}}" class="embed-responsive-item" allowfullscreen></iframe>
    </div>
    

    <div class="container">
        <h2 class="text-dark">{{.Title}} </h2>
        {{range .GenreList}}
        <span class="badge badge-info">{{.Name}}</span>
        {{end}}
       
        <p>
           {{.Overview}}

        </p>

    </div>
    <div class="contain">

        <h2 class="text-black-50">25 comments</h2>
        <hr>
    </div>

    <div class=" my row ">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                        <br>
                        <button type="button" class="btn btn-info pull-right">Post</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>

    <ul class="media-list">
        <li class="media">
            <a href="#" class="pull-left">
                <img src="" alt="" class="imgxl rounded-circle p-3 mb-2 bg-info text-white">
            </a>
            <div class="media-body">
                <span class="text-muted pull-right">
                    <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@MartinoMont</strong>
                <p>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam non quam autem soluta? Et id, sit,
                    asperiores esse rerum unde alias maxime dolorem ipsum expedita ipsa ut ea animi saepe. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Ab natus, dicta, eos vitae assumenda est nihil illo
                    maiores fugit corrupti quisquam reprehenderit dolores animi aperiam a ullam voluptates quis?
                    Cupiditate? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis aut totam
                    officiis nostrum minus illum animi hic, tenetur culpa earum ad distinctio eligendi suscipit modi?
                    Temporibus inventore voluptatem repellat! Lorem ipsum dolor sit amet, <a
                        href="#">#consecteturadipiscing </a>.
                </p>
            </div>
        </li>
        <hr>
        <li class="media">
            <a href="#" class="pull-left">
                <img src="" alt="" class="imgxl rounded-circle p-3 mb-2 bg-secondary text-white">
            </a>
            <div class="media-body">
                <span class="text-muted pull-right">
                    <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@LaurenceCorreil</strong>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium nihil rem aliquid nesciunt
                    veniam, distinctio odio numquam necessitatibus, voluptates, inventore at velit quidem voluptas
                    facilis consequuntur perferendis sequi illo provident.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem ratione laborum numquam
                    consequuntur quaerat possimus officiis adipisci sint necessitatibus. Fugiat aperiam libero
                    reiciendis delectus quia? Perferendis natus vel vitae officia.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                </p>
            </div>
        </li>

    </ul>
</div>
</body>
    {{end}}








    <!-- <div class="comment" style="margin-left: 40px;">

            <div class="page-header">
                    <h1><small class="pull-right">45 comments</small> Comments </h1>
                  </div> 
        <div class="card">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
                            <form class="form-inline">
                                <div class="btn-group">
                                    <button class="btn" type="button"><span
                                            class="fa fa-picture-o fa-lg"></span></button>
                                    <button class="btn" type="button"><span
                                            class="fa fa-video-camera fa-lg"></span></button>
                                    <button class="btn" type="button"><span
                                            class="fa fa-microphone fa-lg"></span></button>
                                    <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
                                </div>
                                <button class="btn btn-primary pull-right" type="button">Share</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

 -->







    <!-- <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                        <p class="text-secondary text-center">15 Minutes Ago</p>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left"
                                href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman
                                    Akash</strong></a>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>

                        </p>
                        <div class="clearfix"></div>
                        <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>
                            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                        </p>
                    </div>
                </div>
                <div class="card card-inner">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                                <p class="text-secondary text-center">15 Minutes Ago</p>
                            </div>
                            <div class="col-md-10">
                                <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman
                                            Akash</strong></a></p>
                                <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>
                                <p>
                                    <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i>
                                        Reply</a>
                                    <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i>
                                        Like</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 -->





  


<!-- Footer -->

