
{{ define "eventList.content" }}

    <div class="container">
        <h1 class="display-4">Events</h1>
        
    </div>

<hr>



<div class="container">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
        {{with .Events}}
        {{range .}}
            <div class="col mb-4 ">
                <div class="card h-100">
                   
                        <div class="gradient card-img-top"></div>
                    <div class="card-body">
                        <h4 class="text-center font-weight-bold">{{.Name}}</h4>
                        <p class="text-center">{{.Location}}</p>
                        <a href="/events/detail/{{.ID}}" class="card-link"> <p class="text-center">Show Details</p> </a>
                    </div>
                </div>
            </div> 
        {{end}}
        {{end}}
    </div>    
    
</div>
{{ end }}