<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="../assets/css/swiper.min.css">
  <link rel="stylesheet" href="../assets/css/bootstrap_slider.min.css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/popper_slider.min.js"></script>
  <script src="../assets/js/bootstrap.min.4.3.1.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../assets/css/bootstrap.3.3.7.min.css">
  <script src="../assets/js/jquery.3.3.1.min.js"></script>
  <script src="../assets/js/bootstrap.3.3.7.min.js"></script>
  <!-- Demo styles -->
  <style>
    body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 500px;
    }
  </style>
</head>
<body>
  {{template "header.html"}}
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name of the event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event </h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
        <div class="swiper-slide" >
                <div class="card">
                        <img class="card-img-top" src="../assets/images/nature-1.jpg" alt="Card image" style="width:100% height=100%">
                        <div class="card-body">
                          <h4 class="card-title">Name Of The Event</h4>
                          <p class="card-text">Some Description about the event</p>
                          <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;"  class="fa fa-star checked"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                          <br/>
                          <textarea  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                          <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>

                        </div>
                      </div>
        </div>
    </div>
  
  </div>
  {{template "footer.html"}}

  <!-- Swiper JS -->
  <script src="../assets/js/swiper.min.js"></script>
  <!-- <script src="rating.js"></script> -->

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>
  <script>
    var count;
    
    function starmark(item)
    {
    count=item.id[0];
    sessionStorage.starRating = count;
    var subid= item.id.substring(1);
    for(var i=0;i<5;i++)
    {
    if(i<count)
    {
    document.getElementById((i+1)+subid).style.color="orange";
    }
    else
    {
    document.getElementById((i+1)+subid).style.color="black";
    }
    
    
    }
    
    }
    
    function result()
    {
    //Rating : Count
    //Review : Comment(id)
    alert("Rating : "+count+"\nReview : "+document.getElementById("comment").value);
    }
    
    </script>
</body>
</html>
