
{{ define "eventList.content" }}

    <div class="container">
        <h1 class="display-4">Events</h1>
        <i class="fas fa-location three-icons"></i>
        
    </div>

<hr>



<div style="margin-bottom: 200px;" class="container">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
     
        {{with .Events}}
        {{range .}}
        <div class="col mb-4 ">
                <div class="card h-100">
                   
                      
                    <div class="card-body p-0">
                        <img src="/assets/images/{{.Image}}" class="card-img-top" alt="...">
                       
                        <h4 class="text-center font-weight-bold">{{.Name}}</h4>
                        <p class="text-center light-gray-text font-weight-bold"><i class="fas mr-2 fa-location-arrow"></i>{{.Location}}</p>
                        <p class="text-center font-weight-light">{{.Description}}</p>
                        <p class="text-center font-weight-light">{{.Time}}</p>
                       
                    </div>
              
            </div> </div>
        {{end}}
        {{end}}
    </div>  
    </div>  
    

{{ end }}