{{define "halls.content"}}
<main class="col">
  <h4>Edit Cinema</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Cinema</a></li>
      <li class="breadcrumb-item active" aria-current="page">CinemaName</li>
    </ol>
  </nav>
  <div class="container-fluid">
    <div class="container" style="z-index: -1;">
      {{with .Halls}}
      {{range .}}

      <div class="card mb-2" >
        <div class="container">
          <div class="card-body">
            <!-- <h5 class="card-title">Hall 1</h5> -->
            <form>
              <div class="form-group">
      
                <input type="Text" class="form-control card-title" id="HallName" value="{{.HallName}}">
              </div>



              <hr>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <div class="row">
                <div class="col-lg-4 col-md-6  col-sm-12  mycol">

                  <!--   first column -->



                  <!--   inside first column first column -->

                  <div class="row ">
                    <div class="col-6 ">
                      <label for="Capacity">Capacity</label> <!-- for capacity -->
                    </div>
                    <div class="col-6 ">
                      <input type="Text" class="form-control" id="Capacity" value="{{.Capacity}}">
                    </div>
                  </div>


                  <div class="row rowbottom">
                    <div class="col-6 ">
                      <label for="Price">Price</label> <!-- for capacity -->
                    </div>
                    <div class="col-6 ">
                      <input type="Text" class="form-control" id="Price" value="{{.Price}}">
                    </div>
                  </div>




                </div>
                <div class="col-lg-4 col-md-6  col-sm-12  mycol">

                  <!--   inside second column first column -->

                  <div class="row ">
                    <div class="col-6">
                      <label for="VIP">VIP price</label> <!-- for capacity -->
                    </div>
                    <div class="col-6 ">
                      <input type="Text" class="form-control" id="VIP" value="{{.VIPPrice}}">
                    </div>
                  </div>


                  <div class="row rowbottom">
                    <div class="col-6 ">
                      <label for="vipcap">VIP capacity</label> <!-- for capacity -->
                    </div>
                    <div class="col-6">
                      <input type="Text" class="form-control" id="vipcap" value="{{.VIPCapacity}}">
                    </div>
                  </div>


                </div>


                <div class="col-1 button">
                  <div class="vl"></div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-6 button">
                  <!--   seconnd column -->

                  <div class="row ">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <input type="submit" class="btn btn-sm blue-grey  mdb-color white-text darken-1 hall" value="save">
                    </div>
                    <div class="col-lg-12  col-md-6 col-sm-6">
                      <a href="/admin/cinemas/halls/delete/{{.CinemaID}}/{{.ID}}" class="btn mdb-color white-text btn-sm grey darken-3 hall">Delete</a>
                    </div>
                  </div>


                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
      {{end}}
      {{end}}



    </div>
  </div>














  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Add hall</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input name="name" type="text" id="orangeForm-name" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-name">Hall name</label>
          </div>
          <form id="myForm2" method="post" action="/hall">
            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" name="cap" id="orangeForm-capacity" class="form-control validate">
              <label data-error="wrong" data-success="right" for="orangeForm-capacity">capacity</label>
            </div>

            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" name="price" id="orangeForm-VIP-price" class="form-control validate">
              <label data-error="wrong" data-success="right" for="orangeForm-price">price</label>
            </div>
            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" name="vip" id="orangeForm-price" class="form-control validate">
              <label data-error="wrong" data-success="right" for="orangeForm-vIP-price">VIP price</label>
            </div>

            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input name="discount" type="text" id="orangeForm-discount" class="form-control validate">
              <label data-error="wrong" data-success="right" for="orangeForm-vIP-price">Weekend discount</label>
            </div>




        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" name="add" class="btn btn-deep-purple">Add</button>
        </div>
        </form>
      </div>
    </div>
  </div>



  <div id="adminhalls">

      
    <div class="btn-group-fab " role="group" aria-label="FAB Menu">
      <div>
        <a href="/admin/cinemas/halls/new/{{.Cid}}" type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left"
           title="Add new" style="padding:0">
          <i class="fas pt-3 fa-plus"></i>
      </a>
      </div>
    </div>
  </div>





</main>
{{end}}