{{define "header"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    />
    <link rel="stylesheet" href="/assets/css/headerfooter.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/schedule.css" />

    <title>Cinev park</title>
  </head>
  <body>
    <!-- <i class="fa fa-search"></i>
    <i class="fa fa-user"></i>
    <i class="fa fa-user-circle-o"></i> -->
    <nav class="navbar navbar-custom navbar-expand-lg navbar-light ">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <i class="fa fa-user fa-2x"></i> <a class="nav-link " href="#">User</a>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Movie"
            aria-label="Movie"
          />
          <button class="btn" type="submit">
            Search
          </button>
        </form>

        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
          </li>
          <li class="nav-item nav-text-color">
            <a class="nav-link " href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text-color" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text-color" href="/theaters">Theater</a>
          </li>
        </ul>
      </div>
    </nav>

    {{end}}
  </body>
</html>
