<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/dashboard.css">
  <link rel="stylesheet" href="../assets/css/admincinema.css">

</head>

<body>

  <div class="container-fluid h-100">
    <div class="row h-100">
      <aside class="col-12 col-md-3  p-0 bg-dark">
        <div id="head">
          <header>

            <a href="#"></a>

          </header>
        </div>
        <nav class="navbar navbar-expand navbar-dark bg-dark align-items-start">
          <div class="collapse navbar-collapse">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
              <li class="nav-item">
                <a class="nav-link pl-0" href="#"><i class="fas fa-calendar-day"></i> Cinema</a>
              </li>

              <li class="nav-item">
                <a class="nav-link pl-0" href="#"><i class="fas fa-film"></i> Movie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#"><i class="fas fa-calendar-day"></i> Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#"><i class="fas fa-cog"></i> Account</a>
              </li>

            </ul>
          </div>
        </nav>
      </aside>
      <main class="col">
        <h4>Simple Sidebar</h4>
        <div class="container-fluid">

          <div class="row">
            <div class="col-4">
              <hr>
            </div>
            <div class="col-2">
              <h3>Century</h3>

            </div>
            <div class="col -4">
              <hr>
            </div>

            <div class="col -4">
              <div class="btn-group-fab" role="group" aria-label="FAB Menu">
                <div>
                  <button type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left"
                    data-toggle="modal" data-target="#modalRegisterForm" title="Menu" style="padding:0">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>



          </div>
          <div class="container">

            <div class="card">
              <div class="container">
                <div class="card-body">
                  <!-- <h5 class="card-title">Hall 1</h5> -->
                  <form>
                    <div class="form-group">

                      <input type="Text" class="form-control card-title" id="HallName" value="Hall1">
                    </div>



                    <hr>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <div class="row">
                      <div class="col-lg-4 col-md-6  col-sm-12  mycol">

                        <!--   first column -->



                        <!--   inside first column first column -->

                        <div class="row ">
                          <div class="col-6 ">
                            <label for="Capacity">Capacity</label> <!-- for capacity -->
                          </div>
                          <div class="col-6 ">
                            <input type="Text" class="form-control" id="Capacity" value="100">
                          </div>
                        </div>


                        <div class="row rowbottom">
                          <div class="col-6 ">
                            <label for="Price">Price</label> <!-- for capacity -->
                          </div>
                          <div class="col-6 ">
                            <input type="Text" class="form-control" id="Price" value="100">
                          </div>
                        </div>



























                      </div>
                      <div class="col-lg-4 col-md-6  col-sm-12  mycol">

                        <!--   inside second column first column -->

                        <div class="row ">
                          <div class="col-6">
                            <label for="VIP">VIP price</label> <!-- for capacity -->
                          </div>
                          <div class="col-6 ">
                            <input type="Text" class="form-control" id="VIP" value="100">
                          </div>
                        </div>


                        <div class="row rowbottom">
                          <div class="col-6 ">
                            <label for="discount">Weekend discount</label> <!-- for capacity -->
                          </div>
                          <div class="col-6">
                            <input type="Text" class="form-control" id="discount" value="100">
                          </div>
                        </div>


                      </div>


                      <div class="col-1 button">
                        <div class="vl"></div>
                      </div>


                      <div class="col-lg-3 col-md-3 col-sm-6 button">
                        <!--   seconnd column -->

                        <div class="row ">
                          <div class="col-lg-12 col-md-6 col-sm-6">
                            <button class="btn btn-primary hall">Save</button>
                          </div>
                          <div class="col-lg-12  col-md-6 col-sm-6">
                            <button class="btn btn-primary hall">Delete</button>
                          </div>
                        </div>






                      </div>

                    </div>
                  </form>
                </div>




              </div>
            </div>
          </div>
        </div>














        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add hall</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <input id="timepicker" width="276" />

              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-name">Hall name</label>
              </div>


              x

              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-capacity" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-capacity">capacity</label>
              </div>

              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-VIP-price" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-price">price</label>
              </div>
              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-price" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-vIP-price">VIP price</label>
              </div>

              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-discount" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-vIP-price">Weekend discount</label>
              </div>




            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-deep-orange">Add</button>
            </div>
          </div>
        </div>
    </div>

















    </main>
  </div>
  </div>




  </div>
  <script>
    $(function () {
      $('#timepicker').timepicker({
            uiLibrary: 'bootstrap4'
        });
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>




</body>

</html>