{{ define "Movie.content"}}



    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab"
                aria-controls="upcoming" aria-selected="true">Upcoming Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="now-tab" data-toggle="tab" href="#now" role="tab" aria-controls="now"
                aria-selected="false">Now Showing</a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
            <div class="container">



                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">

                            <div class="card-body">

                                


                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <p class="card-text">This is a short card.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"   class="card-img-top" alt="...">
                           <div class="card-body">
                            <!--      <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#videoModal"
                                    data-video="https://www.youtube.com/embed/bwzLiQZDw2I">watch trailer</button>-->
                            </div> 
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#videoModal"
                                    data-video="https://www.youtube.com/embed/zAGVQLHvwOY">watch trailer</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a short card.</p>

                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#videoModal"
                                    data-video="https://www.youtube.com/embed/n0OFH4 xpPr4">watch trailer</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#videoModal"
                                    data-video="https://www.youtube.com/embed/bwzLiQZDw2I">watch trailer</button> -->

                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <!-- <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#videoModal"
                                    data-video="https://www.youtube.com/embed/zAGVQLHvwOY">watch trailer</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-200">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a short card.</p> -->

                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#videoModal"
                                    data-video="https://www.youtube.com/embed/bwzLiQZDw2I">watch trailer</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#videoModal"
                                    data-video="https://www.youtube.com/embed/zAGVQLHvwOY">watch trailer</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>












        </div>
        <div class="tab-pane fade" id="now" role="tabpanel" aria-labelledby="now-tab">


            <div class="container">


                    <div class="row row-cols-1 row-cols-md-3">
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="../assets/images/joker2.jpg"   class="card-img-top" alt="...">
        
                                    <div class="card-body">
        
                                        <!-- <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/zAGVQLHvwOY">watch trailer</button> -->
        
        
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <!-- <p class="card-text">This is a short card.</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="../assets/images/joker2.jpg"   class="card-img-top" alt="...">
                                   <div class="card-body">
                                    <!--      <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content.</p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/bwzLiQZDw2I">watch trailer</button>-->
                                    </div> 
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <!-- <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/zAGVQLHvwOY">watch trailer</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <!-- <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a short card.</p>
        
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/n0OFH4 xpPr4">watch trailer</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <!-- <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content.</p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/bwzLiQZDw2I">watch trailer</button> -->
        
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <!-- <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
        
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/zAGVQLHvwOY">watch trailer</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="../assets/images/joker2.jpg"  class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
        
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/zAGVQLHvwOY">watch trailer</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/maleficent.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a short card.</p>
        
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/frozen.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content.</p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/bwzLiQZDw2I">watch trailer</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/joker.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
        
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#videoModal"
                                            data-video="https://www.youtube.com/embed/zAGVQLHvwOY">watch trailer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                <!-- <div class="row row-cols-1 row-cols-md-3">
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/joker.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/maleficent.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a short card.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/frozen.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/joker.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/maleficent.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a short card.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/frozen.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/joker.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/maleficent.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a short card.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/frozen.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="assets/images/joker.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
            </div>
        </div>
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark border-dark">
                        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body bg-dark p-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{{end}}