{{define "scheduleDisplay.content"}}

<div id="schedule">
{{if .Err}}
<div class="alert mt-3 alert-danger">
   
  {{.Err}}


</div>

{{end}}
{{if .Succ}}
<div class="alert mt-3 alert-success">
   
  {{.Succ}}


</div>

{{end}}
   
   
    {{$id:=.CinemaID}}
    {{with .HallS}}
    {{$name:=.CinemaName}}
    <h1 class="mt-3 ml-5 mb-5"> {{.CinemaName}}</h1>

    <ul class="nav nav-tabs mb-5 mt-1 nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#monday" role="tab"
                aria-controls="monday" aria-selected="true">Monday</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#tuesday" role="tab" aria-controls="tuesday"
                aria-selected="false">Tuesday</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="wednsday-tab" data-toggle="tab" href="#wednsday" role="tab" aria-controls="wednsday"
              aria-selected="false">Wednsday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="thursday-tab" data-toggle="tab" href="#thursday" role="tab" aria-controls="thursday"
            aria-selected="false">Thursday</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="friday-tab" data-toggle="tab" href="#friday" role="tab" aria-controls="friday"
          aria-selected="false">Friday</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="saturday-tab" data-toggle="tab" href="#saturday" role="tab" aria-controls="saturday"
          aria-selected="false">Saturday</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sunday-tab" data-toggle="tab" href="#sunday" role="tab" aria-controls="sunday"
          aria-selected="false">Sunday</a>
    </li>
    </ul>
    <div class="tab-content pt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
            <div class="container margin-for-all">
              {{with .All}}
           

                {{range .}}
                {{if eq .Day "Monday"}}

              

          
              
              
             




                <div class="card mb-3" style="max-width: 1240px;">
                  <div class="row no-gutters">
                    <div class="col-md-2">
                      <img src="http://image.tmdb.org/t/p/w500{{.PosterPath}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-10">
                      <div class="card-body">
                        <h5 class="card-title">{{.MovieName}} <span class="badge badge-warning">{{.Dimension}}</span></h5> 
                        <p class="card-text font-weight-light">Starts at: <span>{{.StartTime}}</span> </p>
              
                        <p class="card-text font-weight-light">Running time: <span>{{.Runtime}}</span> </p>
                        <p class="card-text font-weight-light">{{.HallName}}  <span class="badge badge-success">Available  <span class="badge badge-light">{{.Available}}</span></span></p> <br>
                        
              
              
              
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6 text-right"> <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light justify-content-end">Book now!</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
              
                        <form action="/theater/schedule/book/{{$name}}/{{$id}}/{{.ScheduleID}}" method="post">
              
              
                        <div class="custom-control custom-radio">
                          <input type="radio" id="normal" name="seat" value="{{.Price}}" class="custom-control-input" checked >
                          <label class="custom-control-label" for="normal">Normal-{{.Price}}</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="vip" name="seat" value="{{.VIPPrice}}"class="custom-control-input">
                          <label class="custom-control-label" for="vip">VIP-{{.VIPPrice}}</label>
                        </div>
              
                      
              
              
                      </div>
                      <div class="modal-footer">
                        <input type="submit" value="Submit" class="btn btn-primary">
                      </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
              
                {{end}}
                {{end}}
                {{end}}
    
              
              
            </div>
        </div>
    
    
    
    
    
    
    
        <div class="tab-pane fade" id="tuesday" role="tabpanel" aria-labelledby="tuesday-tab">
    
    
            <div class="container margin-for-all">

              {{with .All}}
              {{range .}}
              {{if eq .Day "Tuesday"}}

              
              {{if not .}} <h1>Nothing to show</h1> {{end}}


              
             
             
              <div class="card mb-3" style="max-width: 1240px;">
                <div class="row no-gutters">
                  <div class="col-md-2">
                    <img src="http://image.tmdb.org/t/p/w500{{.PosterPath}}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h5 class="card-title">{{.MovieName}} <span class="badge badge-warning">{{.Dimension}}</span></h5> 
                      <p class="card-text font-weight-light">Starts at: <span>{{.StartTime}}</span> </p>

                      <p class="card-text font-weight-light">Running time: <span>{{.Runtime}}</span> </p>
                      <p class="card-text font-weight-light">{{.HallName}}  <span class="badge badge-success">Available  <span class="badge badge-light">{{.Available}}</span></span></p> <br>
                      



                      <div class="row">
                          <div class="col-md-6"></div>
                          <div class="col-md-6 text-right"> <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light justify-content-end">Book now!</button></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Book</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <form action="/theater/schedule/book/{{$name}}/{{$id}}/{{.ScheduleID}}" method="post">


                      <div class="custom-control custom-radio">
                        <input type="radio" id="normal" name="seat" value="{{.Price}}" class="custom-control-input" checked >
                        <label class="custom-control-label" for="normal">Normal-{{.Price}}</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="vip" name="seat" value="{{.VIPPrice}}"class="custom-control-input">
                        <label class="custom-control-label" for="vip">VIP-{{.VIPPrice}}</label>
                      </div>

                    

    
                    </div>
                    <div class="modal-footer">
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>
           
              {{end}}
              {{end}}
              {{end}}
             
  
         
      
    
             
                </div>
            </div>
            <div class="tab-pane fade" id="wednsday" role="tabpanel" aria-labelledby="wednsday-tab">
    
    
              <div class="container margin-for-all">

                {{with .All}}
                {{range .}}
                {{if eq .Day "Wednsday"}}
               



<div class="card mb-3" style="max-width: 1240px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="http://image.tmdb.org/t/p/w500{{.PosterPath}}" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{.MovieName}} <span class="badge badge-warning">{{.Dimension}}</span></h5> 
        <p class="card-text font-weight-light">Starts at: <span>{{.StartTime}}</span> </p>

        <p class="card-text font-weight-light">Running time: <span>{{.Runtime}}</span> </p>
        <p class="card-text font-weight-light">{{.HallName}}  <span class="badge badge-success">Available  <span class="badge badge-light">{{.Available}}</span></span></p> <br>
        



        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right"> <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light justify-content-end">Book now!</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/theater/schedule/book/{{$name}}/{{$id}}/{{.ScheduleID}}" method="post">


        <div class="custom-control custom-radio">
          <input type="radio" id="normal" name="seat" value="{{.Price}}" class="custom-control-input" checked >
          <label class="custom-control-label" for="normal">Normal-{{.Price}}</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="vip" name="seat" value="{{.VIPPrice}}"class="custom-control-input">
          <label class="custom-control-label" for="vip">VIP-{{.VIPPrice}}</label>
        </div>

      


      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

                {{end}}
                {{end}}
                {{end}}
    
      
         
      
      
               
                  </div>
              </div>
              <div class="tab-pane fade" id="thursday" role="tabpanel" aria-labelledby="thursday-tab">
    
    
                <div class="container margin-for-all">

                  {{with .All}}
                  {{range .}}
                  {{if eq .Day "Thursday"}}
         



<div class="card mb-3" style="max-width: 1240px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="http://image.tmdb.org/t/p/w500{{.PosterPath}}" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{.MovieName}} <span class="badge badge-warning">{{.Dimension}}</span></h5> 
        <p class="card-text font-weight-light">Starts at: <span>{{.StartTime}}</span> </p>

        <p class="card-text font-weight-light">Running time: <span>{{.Runtime}}</span> </p>
        <p class="card-text font-weight-light">{{.HallName}}  <span class="badge badge-success">Available  <span class="badge badge-light">{{.Available}}</span></span></p> <br>
        



        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right"> <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light justify-content-end">Book now!</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/theater/schedule/book/{{$name}}/{{$id}}/{{.ScheduleID}}" method="post">


        <div class="custom-control custom-radio">
          <input type="radio" id="normal" name="seat" value="{{.Price}}" class="custom-control-input" checked >
          <label class="custom-control-label" for="normal">Normal-{{.Price}}</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="vip" name="seat" value="{{.VIPPrice}}"class="custom-control-input">
          <label class="custom-control-label" for="vip">VIP-{{.VIPPrice}}</label>
        </div>

      


      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

                  {{end}}
                  {{end}}
                  {{end}}
      
        
           
        
        
                 
                    </div>
                </div>
                <div class="tab-pane fade" id="friday" role="tabpanel" aria-labelledby="friday-tab">
    
    
                  <div class="container margin-for-all">
                    {{with .All}}
                    {{range .}}
                    {{if eq .Day "Friday"}}
                



<div class="card mb-3" style="max-width: 1240px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="http://image.tmdb.org/t/p/w500{{.PosterPath}}" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{.MovieName}} <span class="badge badge-warning">{{.Dimension}}</span></h5> 
        <p class="card-text font-weight-light">Starts at: <span>{{.StartTime}}</span> </p>

        <p class="card-text font-weight-light">Running time: <span>{{.Runtime}}</span> </p>
        <p class="card-text font-weight-light">{{.HallName}}  <span class="badge badge-success">Available  <span class="badge badge-light">{{.Available}}</span></span></p> <br>
        



        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right"> <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light justify-content-end">Book now!</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/theater/schedule/book/{{$name}}/{{$id}}/{{.ScheduleID}}" method="post">


        <div class="custom-control custom-radio">
          <input type="radio" id="normal" name="seat" value="{{.Price}}" class="custom-control-input" checked >
          <label class="custom-control-label" for="normal">Normal-{{.Price}}</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="vip" name="seat" value="{{.VIPPrice}}"class="custom-control-input">
          <label class="custom-control-label" for="vip">VIP-{{.VIPPrice}}</label>
        </div>

      


      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

                    {{end}}
                    {{end}}
                    {{end}}
        
          
             
          
          
                   
                      </div>
                  </div>
                  <div class="tab-pane fade" id="saturday" role="tabpanel" aria-labelledby="saturday-tab">
    
    
                    <div class="container margin-for-all">
                      {{with .All}}
                      {{range .}}
                      {{if eq .Day "Saturday"}}
            



<div class="card mb-3" style="max-width: 1240px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="http://image.tmdb.org/t/p/w500{{.PosterPath}}" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{.MovieName}} <span class="badge badge-warning">{{.Dimension}}</span></h5> 
        <p class="card-text font-weight-light">Starts at: <span>{{.StartTime}}</span> </p>

        <p class="card-text font-weight-light">Running time: <span>{{.Runtime}}</span> </p>
        <p class="card-text font-weight-light">{{.HallName}}  <span class="badge badge-success">Available  <span class="badge badge-light">{{.Available}}</span></span></p> <br>
        



        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right"> <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light justify-content-end">Book now!</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/theater/schedule/book/{{$name}}/{{$id}}/{{.ScheduleID}}" method="post">


        <div class="custom-control custom-radio">
          <input type="radio" id="normal" name="seat" value="{{.Price}}" class="custom-control-input" checked >
          <label class="custom-control-label" for="normal">Normal-{{.Price}}</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="vip" name="seat" value="{{.VIPPrice}}"class="custom-control-input">
          <label class="custom-control-label" for="vip">VIP-{{.VIPPrice}}</label>
        </div>

      


      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

                      {{end}}
                      {{end}}
                      {{end}}
          
            
               
            
            
                     
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sunday" role="tabpanel" aria-labelledby="sunday-tab">
    
    
                      <div class="container margin-for-all">
                        {{with .All}}
                        {{range .}}
                        {{if eq .Day "Sunday"}}
           



<div class="card mb-3" style="max-width: 1240px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="http://image.tmdb.org/t/p/w500{{.PosterPath}}" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{.MovieName}} <span class="badge badge-warning">{{.Dimension}}</span></h5> 
        <p class="card-text font-weight-light">Starts at: <span>{{.StartTime}}</span> </p>

        <p class="card-text font-weight-light">Running time: <span>{{.Runtime}}</span> </p>
        <p class="card-text font-weight-light">{{.HallName}}  <span class="badge badge-success">Available  <span class="badge badge-light">{{.Available}}</span></span></p> <br>
        



        <div class="row">
            <div class="col-md-6"></div>
            
            <div class="col-md-6 text-right"> <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light justify-content-end">Book now!</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/theater/schedule/book/{{$name}}/{{$id}}/{{.ScheduleID}}" method="post">


        <div class="custom-control custom-radio">
          <input type="radio" id="normal" name="seat" value="{{.Price}}" class="custom-control-input" checked >
          <label class="custom-control-label" for="normal">Normal-{{.Price}}</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="vip" name="seat" value="{{.VIPPrice}}"class="custom-control-input">
          <label class="custom-control-label" for="vip">VIP-{{.VIPPrice}}</label>
        </div>

      


      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

                        {{end}}
                        {{end}}
                        {{end}}
            
              
                 
              
              
                       
                          </div>
                      </div>
      
    
    
    
                    </div>
    
    
    
        </div>
    
    
    </div>
    </div>
    
    </div>
    
</div>

{{end}}
{{end}}